@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400&display=swap');

@font-face {
    font-family: IntegralCFMed;
    src: url(/assets/integralcf_med.otf);
}

:root {
    @media screen and (prefers-color-scheme: dark) {
        --text: #E3E3E3;
        --background: #121212;
        --container: #343434;
        --border: #232323;
    }
    @media screen and (prefers-color-scheme: light) {
        --text: #121212;
        --background: #E3E3E3;
        --container: #D8D8D8;
        --border: #F6F6F6;
    }   
}

* {
    color: var(--text);
}

.logo_like {
    font-family: IntegralCFMed;
    font-size: 1.3rem;
}

h1 {
    @apply text-3xl font-bold mt-2 mb-2;
}

a {
    @apply text-lg;
    @apply hover:font-bold;
}

a.active {
    @apply font-bold;
}

body, div, input {
    background: var(--background);
}
